.eslintcache
.env
node_modules
*.DS_Store*
.vscode/
build/
coverage.json
coverage/
tenderly.yaml
artifacts
cache
types/contracts
.eslintcache
.xml
out
scripts/shutdown/data/sample/roots.json
scripts/shutdown/test-scenarios/*.merged.json
scripts/shutdown/data/*.json
